@import "../../variable.scss";

.header_block{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 0px 15px;
    .right_box{
        display: flex;
        align-items: center;
        background: white;
        box-shadow: 1px 1px 10px #e9e9e9;
        padding: 10px 25px;
        border-radius: 20px;
        .user_img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        .icons{
            img{
                width: 18px;
                margin-left: 25px;
                vertical-align: middle;
            }
        }
    }
}