<div class="header_block">
    <div class="right_box">
        <div class="user_img">
            <img src="../../assets/images/user_img.jpg">
        </div>
        <div class="icons">
            <img src="../../assets/images/notification.svg">
            <img src="../../assets/images/info.svg">
        </div>
    </div>
</div>
