<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / Support'" [pageTitle]="'Support'"></app-breadcrumb>

    <div class="body_sec">
        <div class="row">
            <div class="col-md-6">
                <div class="raiseticket_sec">
                    <h5 class="sec_title">Raise Ticket</h5>

                    <form>
                        <div class="form_group">
                            <label>Request Type</label>
                            <select class="field">
                                <option>Service Request</option>
                                <option>Delivery Request</option>
                            </select>
                        </div>

                        <div class="form_group">
                            <label>Description</label>
                            <textarea class="field" rows="8" placeholder="Service Request Description"></textarea>
                        </div>

                        <div class="form_group">
                            <label>Order/SIM Reference</label>
                            <input type="text" class="field" placeholder="Order/SIM Number">
                        </div>

                        <div class="form_group">
                            <label>File Upload</label>
                            <input type="file" class="field file_field" multiple>
                        </div>

                        <div class="form_button">
                            <button class="btn_submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>