@import "../../variable.scss";

.raiseticket_sec{
    background: white;
    padding: 15px;
    border-radius: 15px;
    form{
        margin-top: 25px;
        .form_group{
            .file_field{
                padding: 5px 5px;
                border: none;
                background: unset;
                box-shadow: none;
                cursor: pointer;     
                width: 35%;
            }
            input[type=file] {
                &::-webkit-file-upload-button {
                    display: none;
                }
                &::before {
                    content: "\e09a";
                    color: $fontColor;
                    margin-right: 10px;
                    font: normal normal normal 18px/1 FontAwesome;
                }
                // &::after {
                //     content: "Upload";
                //     font-size: 14px!important;
                //     color: $fontColor;
                //     margin-left: -89px;
                //     background-color: #ffffff;
                //     display: inline-block;
                //     width: 86%;
                //     position: relative;
                // }
            }
        }
    }
}