<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / KYC'" [pageTitle]="'KYC'"></app-breadcrumb>

    <div class="body_sec">
        <h5 class="m-0">KYC Is Working</h5>
    </div>
</div>