@import "../../variable.scss";

.add_user_page{
    form{
        margin-top: 25px;
        .form_sec{
            border-bottom: 1px solid $titleFontColor;
        }

        .roles_sec{
            margin-top: 15px;
            .form_group{
                display: unset;
                p{
                    color: $fontColor;
                    font-size: 13px;
                    margin-top: 5px;
                }
            }
            .all_check_sec{
                margin-top: 25px;
                .checkbox_sec{
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 6px;
                    .left_sec{
                        width: 35px;
                        input{
                            transform: scale(1.5);
                            accent-color: $btnPrimary;
                            margin-left: 5px;
                        }
                    }
                    .right_sec{                       
                        width: calc(100% - 35px);
                        h6{
                            font-size: 14px;
                            color: $titleFontColor;
                        }
                        p{
                            font-size: 13px;
                            color: $fontColor;
                            margin-top: 5px;
                            margin-bottom: 0;
                            line-height: 22px;
                        }
                    }
                }
            }
        }

        .form_button{
            text-align: left;
            margin-left: 35px;
            margin-top: 25px;
        }
    }
}