<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages /  User Management / Add User'" [pageTitle]="'Add User'"></app-breadcrumb>

    <div class="body_sec">
        <div class="row">
            <div class="col-md-11">
                <div class="page_sec add_user_page">
                    <h5 class="sec_title">Invite User to Collaborate</h5>

                    <form>
                        <div class="form_sec">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form_group">
                                        <label class="required">First Name</label>
                                        <input type="text" class="field" placeholder="Enter First Name" required="required">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form_group">
                                        <label class="required">Last Name</label>
                                        <input type="text" class="field" placeholder="Enter Last Name" required="required">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form_group">
                                        <label class="required">Email</label>
                                        <input type="email" class="field" placeholder="Enter Email" required="required">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form_group">
                                        <label class="required">Organization</label>
                                        <select class="field" required="required">
                                            <option>Select Organization</option>
                                            <option>Company Name 1</option>
                                            <option>Company Name 2</option>
                                            <option>Company Name 3</option>
                                            <option>Company Name 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="roles_sec">
                            <div class="form_group">
                                <label class="required">Roles</label>
                                <p>Select one or more roles for the people you're inviting . Each role has diffrent permissions.</p>
                            </div>

                            <div class="all_check_sec">
                                <div class="checkbox_sec">
                                    <div class="left_sec">
                                        <input type="checkbox">
                                    </div>
                                    <div class="right_sec">
                                        <h6>Owner</h6>
                                        <p>This role has complete access to the portal and can perform all actions, including adding 
                                            and removing users, managing orders, managing inventory, viewing reports and managing dealers.</p>
                                    </div>
                                </div>

                                <div class="checkbox_sec">
                                    <div class="left_sec">
                                        <input type="checkbox">
                                    </div>
                                    <div class="right_sec">
                                        <h6>Admin</h6>
                                        <p>The role has access to most sections of the portal and can perform more actions, including 
                                            managing orders, managing inventory, viewing reports and managing dealers. they can also 
                                            manage user accounts, update user roles and provide support to users.
                                        </p>
                                    </div>
                                </div>

                                <div class="checkbox_sec">
                                    <div class="left_sec">
                                        <input type="checkbox">
                                    </div>
                                    <div class="right_sec">
                                        <h6>Operation</h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>

                                <div class="checkbox_sec">
                                    <div class="left_sec">
                                        <input type="checkbox">
                                    </div>
                                    <div class="right_sec">
                                        <h6>Analyst</h6>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        </p>
                                    </div>
                                </div>

                                <div class="checkbox_sec">
                                    <div class="left_sec">
                                        <input type="checkbox">
                                    </div>
                                    <div class="right_sec">
                                        <h6>Support</h6>
                                        <p>This role has access to the support section of the portal and can assist users with any issues 
                                            or questions they may have. they can also escalate issues to the admin or owner as needed.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form_button">
                            <button type="submit" class="btn_submit">Send Invite</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>