@import "../../variable.scss";

.delete_modal{
    text-align: center;
    .icon{
        img{
            width: 50px;
            filter: brightness(0) saturate(100%) invert(12%) sepia(66%) saturate(7429%) hue-rotate(13deg) brightness(96%) contrast(106%);
            animation: zoomIcon .5s linear infinite;
        }
        @keyframes zoomIcon {
            0%{transform: scale(1);}
            50%{transform: scale(1.1);}
            100%{transform: scale(1);}
        }
    }

    h5{
        margin-top: 25px;
    }

    .buttons{
        margin-top: 15px;
        button{
            padding: 5px 10px;
            min-width: 120px;
            border: none;
            margin: 0px 5px;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 600;
            &.btn_cancel{
                background: #8080806e;
            }
            &.btn_delete{
                background: #ff000063;
            }
            &:focus-visible{
                outline: none;
            }
        }
    }
}