<div class="modal-body">
    <div class="delete_modal">
        <div class="icon">
            <img src="assets/images/delete_modal_icon.png">
        </div>
        <h5>Are you sure you want to delete?</h5>

        <div class="buttons">
            <button type="button" class="btn_cancel" (click)="activeModal.close('btn click')">Cancel</button>
            <button type="button" class="btn_delete" (click)="activeModal.close('btn click')">Delete</button>
        </div>
    </div>
</div>

