<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / See Sim Details'" [pageTitle]="'See Sim Details'"></app-breadcrumb>

    <div class="body_sec">
        <div class="page_sec see_details_sim_page">
        
        </div>
    </div>
</div>