@import "../../variable.scss";

.user_management_page{
    .add_btn{
        text-align: right;
        margin-top: -24px;
        margin-bottom: 15px;
    }
    
    .smart_table{
       ::ng-deep {
            .searchBox_row{
                display: none;
            }

            .thumbmail-image{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            .thumbmail-name{
                background-color: #289d18;
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                color: white;
                font-size: 18px;
            }
       }
    }
}

