<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / User Management'" [pageTitle]="'User Management'"></app-breadcrumb>

    <div class="body_sec">
        <div class="page_sec user_management_page">
            <h5 class="sec_title">Users</h5>

            <div class="add_btn">
                <button class="btn btn-primary" (click)="addUser()">+ Add User</button>
            </div>

            <div class="smart_table">
                <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
            </div>
        </div>
    </div>
</div>

<ng-template #editcontent let-modal>
	<div class="modal-header">
        <h5 class="modal-title">Edit</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>
    <form>
        <div class="modal-body">  
            <div class="row">
                <div class="col-md-6">
                    <div class="form_group">
                        <label>Name</label>
                        <input type="text" class="field" value="Ankit Rawat">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form_group">
                        <label>Email</label>
                        <input type="text" class="field" value="ankit@gmail.com">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form_group">
                        <label>Role</label>
                        <select class="field">
                            <option>Admin</option>
                            <option>Employee</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form_group">
                        <label>Created Time</label>
                        <input type="text" class="field" value="24 Jan 2021">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form_group">
                        <label>Status</label>
                        <select class="field">
                            <option>Active</option>
                            <option>Pending Verification</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal_buttons">
                <button type="button" class="btn_cancel" (click)="modal.close('btn click')">Cancel</button>
                <button type="button" class="btn_submit" (click)="modal.close('btn click')">Save</button>
            </div>
        </div>
    </form>
</ng-template>

<!-- <ng-template #viewcontent let-modal>
	<div class="modal-header">
        <h5 class="modal-title">View</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>
    <div class="modal-body">  
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_group">
                        <label>Name</label>
                        <input type="text" class="field" value="Ankit Rawat" readonly>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form_group">
                        <label>Email</label>
                        <input type="text" class="field" value="ankit@gmail.com" readonly>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form_group">
                        <label>Role</label>
                        <input type="text" class="field" value="Admin" readonly>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form_group">
                        <label>Created Time</label>
                        <input type="text" class="field" value="24 Jan 2021" readonly>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="form_group">
                        <label>Status</label>
                        <input type="text" class="field" value="Active" readonly>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template> -->