<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / Dealer Management'" [pageTitle]="'Dealer Management'"></app-breadcrumb>

    <div class="body_sec">
        <h5 class="m-0">Dealer Management Is Working</h5>
    </div>
</div>