
$tableFontColor: #8893b5;
$tableBgColor: #dae0ff;
$tableBorderColor: #dde2fc;

// @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {

//     // For Google Chrome
//     &::-webkit-scrollbar {
//       width: $size;
//       height: $size;
//     }
  
//     &::-webkit-scrollbar-thumb {
//       background: $foreground-color;
//     }
  
//     &::-webkit-scrollbar-track {
//       background: $background-color;
//     }
  
//     // For Internet Explorer
//     & {
//       scrollbar-face-color: $foreground-color;
//       scrollbar-track-color: $background-color;
//     }
//   }


// .tableFixHead::-webkit-scrollbar-thumb {
//     background: #bbbbbb !important;
// }

// .tableFixHead::-webkit-scrollbar-track {
//     background: #e9e9e9 !important;
// }

// /* width */
// .number_div::-webkit-scrollbar {
//     height: 4px;
// }
// /* Handle */
// .number_div::-webkit-scrollbar-thumb {
//     background: #bbbbbb;
// }
// /* Track */
// .number_div::-webkit-scrollbar-track {
//     background: #e9e9e9;
// }



table.fixed {
    table-layout: fixed;
    font-size: 12px;
    margin-bottom: 0px;
    border: unset;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    overflow-wrap: break-word;
    border-bottom: unset;
}

.table>tbody>tr {
    transition: .5s all;

    &:hover {
        background-color: #dee7ff;
    }
}

.table>thead>tr>th {
    padding: 0px 5px 5px 10px;
 }
.table>tbody>tr>td{
    padding: 8px 10px;
    // min-width: 80px;
}

.table>thead>tr>th:first-child {
    width: 50px;
}



.filter-container {
    background-color: transparent;
}

.filter-input-container {
    position: relative;
    width: calc(100% - 20px);
    display: inline-block;
    vertical-align: middle; // border: 2px solid #c2c2c2;
    border-right: none;
    border-radius: 5px 0px 0px 5px;

    .clear-filter {
        position: absolute;
        top: 4px;
        right: 0px;
        display: none;
        cursor: pointer;
    }

}

.filter-input {
    border: none;
    outline: none;
    width: 100%; // border: 1px solid #e2e2e2;
    margin: 0;
    // height: 100%;
    height: 27px;
    font-weight: 500;
    // background: #e4dcff;
    background: transparent;
    color: #ffffff;
    border-radius: 0px;
    padding: 5px 5px;
    font-size: 13px;
}

.filter-input::placeholder {
    // color: black;
    color: #fff;
    font-weight: 600;
}

.filter-input-container:hover .filter-input {
    background-color: #dee7ff;
    color: black;
}

.filter-input-container:hover {
    .clear-filter {
        display: inline-block;
    }
}

.filter-input-container:hover .filter-input::placeholder {
    color: black !important;
}

.sort-container {
    display: inline-block;
    width: 20px;
    position: relative;
    vertical-align: middle;
    text-align: center; // border: 2px solid #c2c2c2;
    border-left: none;
    height: 27px;
    border-radius: 0px 5px 5px 0px;
    line-height: 18px;
}

.up-icon-container,
.down-icon-container {
    height: 13px;
}

.up-icon-container {
    margin-top: 3px;
}

.down-icon-container {
    margin-top: -6px;
}

.sort-icon-up {
    font-size: 16px;
    cursor: pointer;
}

.sort-icon-down {
    font-size: 16px;
    margin-top: -10px;
    cursor: pointer;
}

.no-record-found {
    width: 100%;
    margin: 10px auto;
    box-shadow: 1px 4px 6px #e7e7e7;
    height: 50px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    color: #d30000;
}

.sort-icon {
    font-size: 13px;
    vertical-align: baseline;
    cursor: pointer;
    background-color: #dee7ff;
    color: black;
    padding: 7px 4px;
}

.no-search {
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
    background-color: white;
    color: black;
}

// Table Header
.tableFixHead
 {
    max-height: calc(100vh - 180px);
    overflow: auto;
    // box-shadow: 1px 1px 10px #d2d2d2;
    // border: 1px solid #e7e7e7;
    // @include scrollbars(4px, gray);
}

.tableFixHead th {
    position: sticky;
    top: 0;
    background-color: gray;
    z-index: 100;
    border: 1px solid #b5b5b5;
    border-bottom: none;
    border-top: none;
}


/* Just common table stuff. Really. */

table {
    border-collapse: collapse;
    width: 100%;
}

.active-row {
    background: #324148 !important;
    color: #fff;
}

.active-row a {
    color: #fff;
}

thead {
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}

// tbody tr {
//     background-color: unset!important;
// }

.image,
.icon {
    font-size: 14px;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 0px;

    .pagination_links {
        button {
            position: relative;
            display: block;
            padding: 5px 10px;
            color: white;
            background-color: $tableFontColor;
            border: 1px solid #dee2e6;
            float: left;
            cursor: pointer;
            font-size: 12px;
            border-radius: 2px;
            margin-right: 2px;
            height: fit-content;
        }

        button:hover,
        button:active,
        button.active-page {
            z-index: 1;
            color: #fff !important;
            background-color: $tableFontColor !important;
            border-color: $tableFontColor;
            box-shadow: none;
        }

        button:focus {
            outline: none;
        }

        span:focus {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
        }
    }
}

.tablePagination {
    color: black;
}

.test {
    color: black;
}

.customPage {
    width: 60px;
    border: 1px solid #b5b9b9;
    color: #0851e0;
    padding: 5px 2px !important;
    font-size: 13px !important;
    text-align: center;
    margin-left: 5px;
    height: 30px;

    &:focus {
        box-shadow: none;
    }
}

.action-box {
    width: 45px !important;
}

.action-box .fa-check {
    background-color: #21d221;
    padding: 1px 2px;
    color: #fff;
    border-radius: 2px;
}

.action-box .fa-times {
    background-color: #f73939;
    padding: 1px 2px;
    color: #fff;
    border-radius: 2px;
    margin-left: 10px;
}

th {
    .sort-container {
        width: 15px;
        display: none
    }

    .filter-input-container {
        width: 100%;
    }
}

th:hover {
    .sort-container {
        display: inline-block;
    }

    .filter-input-container {
        width: calc(100% - 17px);
    }
}

// table tr.highlight {
//     background-color: orange;
//     color: #000 !important;
// }

.table th,
.table td {
    vertical-align: middle !important;
    border: 1px solid #eeeeee;
}


.pagination {
    justify-content: space-between;
    margin-top: 8px;
    display: flex;
}

.pagination .numer_list {
    display: flex;
    align-items: center;
}

.pagination .numer_list span {
    font-size: 13px;
    text-transform: capitalize;
}

.pagination .pagination_links {
    max-width: 452px;
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
}

.pagination .pagination_links .number_div {
    display: inline-flex;
    overflow: auto;
}

.pagination .pagination_links .number_div button {
    background-color: white;
    color: black;
}

.dropdown-menu {
    padding-top: 0;
}



/*************************************** New css start from rahul **************************************/

/***************** Top Searchbox row all css start here ****************/
.searchBox_row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // background-color: #f3f3f3;
    padding-bottom: 15px;

    .export-btns {
        position: relative;
        display: flex;
        margin-right: 10px;

        .download_button_icon {
            width: 30px;
            height: 30px;
            line-height: 29px;
            text-align: center;
            border-radius: 50%;
            margin-left: 5px;
            padding: 0;
            font-size: 14px;
            &:hover {
                opacity: .8;
            }

            &.csv{
                border: 1px solid #3737c3;
                color: #3737c3;
            }
            &.excel{
                border: 1px solid green;
                color: green;
            }
            &.pdf{
                border: 1px solid #d70000;
                color: #d70000;
            }
        }

        .select_column_div {
            .select_column {
                background-color: white;
                color: $tableFontColor;
                font-size: 16px;
                border: 1px solid $tableBorderColor;
                border-radius: 2px;
                height: 30px;
                width: 30px;
                margin-left: 16px;
            }
        
            .select_column_dropdown {
                min-width: 210px;
                margin: 0;
                padding: 0;
                border: 1px solid $tableBorderColor;
                box-shadow: 1px 1px 6px $tableBorderColor;
                max-height: 195px;
                overflow: auto;
                position: absolute;
                right: 0px;
                top: 35px;
                z-index: 200;
                background: white;
        
                .filter-block {
                    display: flex;
                    align-items: center;
                    position: sticky;
                    top: 0;
                    background: white;
                    padding: 5px;
        
                    .search-filter {
                        margin-bottom: 0;
                        width: 100%;
                        
        
                        input {
                            background-color: $tableBgColor;
                            padding: 2px 5px;
                            height: unset;
                            font-size: 13px;
                            &:focus{
                                box-shadow: none;
                            }
                        }
                    }
        
                    .close-btn {
                        text-align: right;
                        padding: 5px;
                        margin-left: 5px;
                        cursor: pointer;
                    }
                }
        
                .dropdown-item {
                    padding: 5px 5px;
                    border-top: 1px solid $tableBorderColor;
                    margin-bottom: 0;
                    font-size: 13px;
                    color: $tableFontColor;
        
                    input {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .global-filter {
        width: 250px;
        position: relative;
        .search_class{
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 14px;
            color: $tableFontColor;
        }
        input {
            height: unset;
            font-size: 13px;
            padding: 5px 10px 5px 30px;
            margin-bottom: 0;
            border-radius: 20px;
            background: $tableBgColor;
            color: $tableFontColor;
            &::placeholder{
                color: $tableFontColor;
            }
        }
    }
}
/***************** Top Searchbox row all css end here ****************/


/***************** Table action column all css start here ****************/
.action_icons {
    position: relative;
    .action_multi_icons {
        display: flex;
        // position: absolute;
        // top: 0px;
        // right: 45px;
        // overflow: hidden;
        // animation: moveIcon .3s linear;
        &.other-action-block {
            position: relative;
            right: auto;
        }

        &.always-show {
            position: relative;
            right: unset;

          .iconn  i{
            display: inline-block;
            }
     }

        .iconn {
            display: table-cell;

            i {
                background-color: #ffffff;
                border: 1px solid $tableFontColor;
                color: $tableFontColor;
                border-radius: 3px;
                margin-right: 3px;
                width: 25px;
                height: 20px;
                line-height: 19px;
                font-size: 12px;
                text-align: center;
                cursor: pointer;
                transition: all linear 0.1s;

                &.other-actions {
                    display: inline-block;
                }

                &.text-icon {
                    display: inline-block;
                }

                &.block-icon {
                    width: auto;
                    height: auto;

                    .icon-message {
                        // min-width: 78px;ngx-check-employee-profile
                        background-color: transparent !important;
                        color: $tableFontColor !important;
                        display: block;
                        font-size: 12px;
                        line-height: 16px;
                        font-style: normal;
                    }
                }

                &:hover {
                    // opacity: .7;
                    transform: scale(1.1);
                }
            }
        }
    }

    @keyframes moveIcon {
        0% {
            width: 0%;
        }

        100% {
            width: 100%;
        }
    }

    .single_icon {
        text-align: center;

        i {
            background-color: #ffffff;
            border: 1px solid $tableBorderColor;
            border-radius: 3px;
            margin-right: 0px;
            width: 25px;
            height: 25px;
            line-height: 23px;
            font-size: 14px;
            text-align: center;
            margin-top: 2px;
            cursor: auto;
            // cursor: pointer;

            &.block-icon {
                width: auto;
                height: auto;

                span.icon-message {
                    all: unset;
                    display: inline-block;
                    width: max-content;
                    color: #5a40b0 !important;
                }
            }
        }
    }
}

table tbody tr td:hover {
    .action_multi_icons i {
        display: inline-block;
    }
}

thead th {
    &.action-heading {
        // min-width: 75px;
        text-align: center;
    }
}

.iconn span.icon-message {
    color: white !important;
    top: -6px !important;
    background: red !important;
}
/***************** Table action column all css end here ****************/


/***************** New card-view table css start here ******************/
.tableFixHead.card-view {
    tbody tr:nth-child(even) {
        background-color: unset;
    }
    .table>tbody>tr{
        border: none;
    }
    .table > tbody > tr:hover {
        background-color: $tableBgColor;
    }

    th {
        background-color: white;
        border: none;
    }

    th span {
        color: $tableFontColor;
    }

    td {
        border: none;
    }

    .filter-input {
        color: $tableFontColor;
        font-weight: 500;
    }

    .filter-input-container:hover .filter-input {
        background-color: $tableBgColor;
    }

    .filter-input::placeholder {
        color: $tableFontColor;
        font-weight: 500 !important;
    }

    .filter-input-container:hover .filter-input::placeholder {
        color: $tableFontColor !important;
        font-weight: 500 !important;
    }

    .filter-input-container .clear-filter {
        top: 8px;
        right: 5px;
    }

    .sort-icon {
        background-color: $tableBgColor;
        color: $tableFontColor;
    }
}
/***************** New card-view table css end here ******************/