@import "../variable.scss";

.main_app_component{
    width: 100%;
    height: 100vh;
    display: flex;
    // background: linear-gradient(45deg, rgba(246,214,236,1) 0%, rgba(250,232,244,1) 10%, rgba(220,231,254,1) 35%, rgba(255,255,255,1) 100%);
    // background: linear-gradient(45deg, rgba(246,214,236,1) 0%, rgba(250,232,244,1) 10%, rgba(220,231,254,1) 35%, rgba(248,239,239,1) 100%);
    background-image: linear-gradient(45deg, #f6d6ec 0%, #fae8f4 10%, #dce7fe 35%, white 100%);
    .sidebar_section{
        // width: 220px;
    }
    .main_body_section{
        // width: calc(100% - 220px);
        .header_section{
            height: 90px;
        }
        .component_section{
            height: calc(100vh - 90px);
        }
    }
}


