<div class="main_app_component">
  <div class="sidebar_section">
    <app-sidebar></app-sidebar>
  </div>
   
  <div class="main_body_section">
    <div class="header_section">
      <app-header></app-header>
    </div>
    <div class="component_section">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

