<div class="sidebar_block">
  <div class="logo_menu_sec">
    <div class="logo">
      <img src="../../assets/images/growspace logo.svg">
      <p>Growspace</p>
    </div>
    <div class="menu_icon" (click)="toggleSidebar()">
      <i class="fa fa-bars"></i>
    </div>
  </div>


  <div class="menu_bar">
    <ul>
      <ng-container *ngFor="let menu of sidebarMenus;index as i">
        <li [routerLink]="menu.url" routerLinkActive="active"
          [ngClass]="{'active':activeIndex == i,'active-toggle':menu.flag && activeIndex == i}" (click)="menuClick(i)">
          <div class="menu_img"><img [src]="menu.img"></div>
          <div class="menu_name">{{menu.title}}</div>
          <img src="../../assets/images/caret_menu.svg" *ngIf="menu.children?.length" (click)="menu.flag = !menu.flag" class="toggle_icon">
        </li>
        <ul class="submenu_list" *ngIf="menu.children?.length && menu.flag" >
          <li [routerLink]="submenu.url" *ngFor="let submenu of menu.children;" routerLinkActive="active">
            <div class="menu_img"><img [src]="submenu.img"></div>
            <div class="menu_name">{{submenu.title}}</div>
          </li>
        </ul>
      </ng-container>
    </ul>
  </div>
</div>
