@import "../../variable.scss";

.sidebar_block{
    height: 100vh;
    .logo_menu_sec{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 15px 35px 15px;
        // padding: 25px 15px 40px 15px;
        // height: 100px;
        .logo{
            display: flex;
            align-items: center;
            img{
                width: 30px;
            }
            p{
                margin: 0;
                margin-left: 10px;
                font-size: 20px;
                font-weight: 700;
                color: $sidebarDarkColor;
            }
        }
        .menu_icon{
            i{
                color: $sidebarDarkColor;
                margin-top: 12px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

    .menu_bar{
        height: calc(100vh - 100px);
        overflow: auto;
        padding: 0px 15px 15px;
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            li{
                padding: 8px 8px;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;
                &:hover, &.active{
                    background-color: #c5cfff;
                    border-radius: 15px;
                    box-shadow: 2px 3px 5px #b5b5b5;
                    .menu_img{
                        img{
                            filter: brightness(0) saturate(100%) invert(19%) sepia(88%) saturate(6417%) hue-rotate(253deg) brightness(92%) contrast(121%);
                        }
                    }
                    .menu_name{
                        color: $sidebarDarkColor;
                        font-weight: 600;
                    }
                }
                
                .menu_img{
                    width: 25px;
                    vertical-align: baseline;
                    img{
                        width: 16px;
                    }
                }
                .menu_name{
                    font-size: 13px;
                    color: $sideBarLightColor;
                }
                .toggle_icon{
                    width: 10px;
                    position: absolute;
                    right: 8px;
                    top: 18px;
                    transition: .3s all;
                }

                &.active-toggle{
                    .toggle_icon{
                        transform: rotate(180deg);
                    }
                }
            }

            .submenu_list{
                padding: 5px;
                border-radius: 10px;
                box-shadow: 1px 1px 10px #cdcdcd;
            }
        }
    }
}

::ng-deep{
    body.expanded{
        .main_app_component{
            .sidebar_section{
                width: 220px;
                transition: .2s all;
            }
            .main_body_section{
                width: calc(100% - 220px);
            }
        }
    }
    
    
    body.collapsed{
        .main_app_component{
            .sidebar_section{
                width: 62px;
                transition: .2s all;
                .sidebar_block .logo_menu_sec{
                    justify-content: center;
                }
                .sidebar_block .logo_menu_sec .logo{
                    display: none;
                }
                .sidebar_block .menu_bar ul li .menu_name{
                    display: none;
                }
                .sidebar_block .menu_bar ul li .toggle_icon{
                    width: 6px!important;
                    right: 12px!important;
                    top: 33px!important;
                }
                .sidebar_block .menu_bar ul .submenu_list{
                    padding: 0!important;
                }
            }
            .main_body_section{
                width: calc(100% - 62px);
            }
        }
    }
}