<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / Sim Search'" [pageTitle]="'Sim Search'"></app-breadcrumb>

    <div class="body_sec">
        <h5 class="m-0">Sim Search Is Working</h5>
    </div>
</div>