<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / Reports'" [pageTitle]="'Reports'"></app-breadcrumb>

    <div class="body_sec">
        <div class="page_sec report_page">
            <h5 class="sec_title">Esim Inventory</h5>

            <div class="smart_table">
                <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
            </div>
        </div>
    </div>
</div>

<ng-template #editcontent let-modal>
	<div class="modal-header">
        <h5 class="modal-title">Edit</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>
    <form>
    <div class="modal-body">  
        <div class="row">
            <div class="col-md-6">
                <div class="form_group">
                    <label>Order</label>
                    <input type="text" class="field" value="Abc">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Iccid</label>
                    <input type="text" class="field" value="8991102105454892">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Profile</label>
                    <select class="field">
                        <option>Airtel+BSNL</option>
                        <option>Voda+BSNL</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Activation Data</label>
                    <input type="text" class="field" value="24 Jan 2021">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Expiry Date</label>
                    <input type="text" class="field" value="24 Jan 2021">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Status</label>
                    <select class="field">
                        <option>Operational</option>
                        <option>Bootstarp</option>
                        <option>Suspended</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Imsi 1</label>
                    <input type="text" class="field" value="">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Imsi 2</label>
                    <input type="text" class="field" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal_buttons">
            <button type="button" class="btn_cancel" (click)="modal.close('btn click')">Cancel</button>
            <button type="button" class="btn_submit" (click)="modal.close('btn click')">Save</button>
        </div>
    </div>
    </form>
</ng-template>