@import "../../variable.scss";
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b3bdf1; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c5cfff; 
}

/* Track */
::-webkit-scrollbar-track {
    background: #f8f8f8; 
}

.sim_management_page{
    .buttons_sec{
        text-align: right;
        margin-top: -24px;
        margin-bottom: 15px;
    }
}

.activate_sim_modal{
    .form_group{
        .file_field{
            padding: 5px 5px;
            border: none;
            background: unset;
            box-shadow: none;
            cursor: pointer;     
            width: 35%;
        }
        input[type=file] {
            &::-webkit-file-upload-button {
                display: none;
            }
            &::before {
                content: "\e09a";
                color: $fontColor;
                margin-right: 10px;
                font: normal normal normal 18px/1 FontAwesome;
            }
        }
    }
    p{
        margin-top: -20px;
        font-size: 12px;
        color: $fontColor;
    }
}

.whitelist_modal{
    .ip_number_sec{
        box-shadow: 2px 2px 6px $boxShadowForm;
        background: $backgroundColor;
        padding: 5px 10px;
        margin-bottom: 25px;
        border-radius: 5px;
        .title_row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .name{
                font-weight: 600;
                font-size: 14px;
                color: $titleFontColor;
            }
            input[type="checkbox"] {
                width: 17px;
                height: 17px;
            }
        }

        .content_row{
            max-height: 133px;
            overflow: auto;
            .form_group{
                display: flex;
                align-items: center;
                padding-bottom: 0;
                margin: 10px 0px;
                .plus_minus{
                    margin-left: 15px;
                    i{
                        font-size: 14px;
                        border: 1px solid $borderForm;
                        padding: 7px;
                        border-radius: 3px;
                        color: white;
                        margin-left: 5px;
                    }
                    .plus{
                        background: green;
                    }
                    .minus{
                        background: red;
                    }
                }
            }
        }
    }

    .form_group{
        label{
            font-size: 14px;
            img{
                width: 12px;
                vertical-align: super;
                cursor: pointer;
            }
            ::ng-deep{
                .popover-body{
                    padding: 5px;
                    font-size: 10px;
                    width: 200px;
                    color: red;
                }
            }
        }
        .file_field{
            padding: 5px 5px;
            border: none;
            background: unset;
            box-shadow: none;
            cursor: pointer;     
            width: 35%;
        }
        input[type=file] {
            &::-webkit-file-upload-button {
                display: none;
            }
            &::before {
                content: "\e09a";
                color: $fontColor;
                margin-right: 10px;
                font: normal normal normal 18px/1 FontAwesome;
            }
        }
    }
    p{
        margin-top: -20px;
        font-size: 12px;
        color: $fontColor;
    }
}