<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / Sim Management'" [pageTitle]="'Sim Management'"></app-breadcrumb>

    <div class="body_sec">
        <div class="page_sec sim_management_page">
            <h4 class="sec_title">Sim Management</h4>

            <div class="buttons_sec">
                <button class="btn btn-primary" (click)="activateSimModal(activateSim)">Activate Sim</button>
                <button class="btn btn-primary" (click)="whiteListModal(whiteList)">WhiteList</button>
                <button class="btn btn-primary">Bulk Switch</button>
            </div>

            <div class="smart_table">
                <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
            </div>
        </div>
    </div>
</div>

<ng-template #activateSim let-modal>
	<div class="modal-header">
		<h5 class="modal-title">Activate Sim</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
	</div>
    <form class="activate_sim_modal">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form_group">
                        <label>Select Plan</label>
                        <select class="field">
                            <option>800 MB</option>
                            <option>500 MB</option>
                            <option>200 MB</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form_group">
                        <label>Activation Date</label>
                        <input type="date" class="field">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form_group">
                        <label>Activation Plan For</label>
                        <span class="checkbox_field">
                            <input type="checkbox"> IMSI 1
                        </span>
                        <span class="checkbox_field">
                            <input type="checkbox"> IMSI 2
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form_group">
                        <label>Upload Inventory</label>
                        <input type="file" class="field file_field" multiple>
                    </div>
                    <p><a href="#" download>(Download Sample CSV)</a></p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal_buttons">
                <button type="button" class="btn_cancel" (click)="modal.close('btn click')">Cancel</button>
                <button type="button" class="btn_submit" (click)="modal.close('btn click')">Submit</button>
            </div>
        </div>
    </form>
</ng-template>

<ng-template #whiteList let-modal>
	<div class="modal-header">
		<h5 class="modal-title">Whitelist</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
	</div>
    <form class="whitelist_modal">
        <div class="modal-body">
            <div class="ip_number_sec">
                <div class="title_row">
                    <div class="name">Whitelist IP</div>
                    <input type="checkbox" [value]="selectedIp" (change)="selectedIp = !selectedIp">
                </div>
                <div class="content_row" *ngIf="selectedIp">
                    <div class="form_group" *ngFor="let item of allWhitelistIP; let j = index;">
                        <input type="text" class="field" placeholder="Enter IP">
                        <div class="plus_minus">
                            <i class="fa fa-minus minus" *ngIf="j > allWhitelistIP.length > 1 ? true : j != 0" (click)="removeIP(j)"></i>
                            <i class="fa fa-plus plus" *ngIf="j == allWhitelistIP.length - 1" (click)="addIP()"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ip_number_sec">
                <div class="title_row">
                    <div class="name">Whitelist Number</div>
                    <input type="checkbox" [value]="selectedNumber" (change)="selectedNumber = !selectedNumber">
                </div>
                <div class="content_row" *ngIf="selectedNumber">
                    <div class="form_group" *ngFor="let item of allWhitelistNumber; let k = index;">
                        <input type="text" class="field" placeholder="Enter Number">
                        <div class="plus_minus">
                            <i class="fa fa-minus minus" *ngIf="k > allWhitelistNumber.length > 1 ? true : k != 0" (click)="removeNumber(k)"></i>
                            <i class="fa fa-plus plus" *ngIf="k == allWhitelistNumber.length - 1" (click)="addNumber()"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form_group">
                <label>Sim Selection <img src="../../assets/images/info.svg" placement="top" ngbPopover="Select SIM from the previous screen or upload inventory in CSV format"></label>
                <input type="file" class="field file_field" multiple>
            </div>
            <p><a href="#" download>(Download Sample CSV)</a></p>
        </div>
        <div class="modal-footer">
            <div class="modal_buttons">
                <button type="button" class="btn_cancel" (click)="modal.close('btn click')">Cancel</button>
                <button type="button" class="btn_submit" (click)="modal.close('btn click')">Submit</button>
            </div>
        </div>
    </form>
</ng-template>