<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / WhiteListing'" [pageTitle]="'WhiteListing'"></app-breadcrumb>

    <div class="body_sec">
        <h5 class="m-0">WhiteListing Is Working</h5>
    </div>
</div>