<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / Organization'" [pageTitle]="'Organization'"></app-breadcrumb>

    <div class="body_sec">
        <div class="page_sec organization_page">
            <h5 class="sec_title">Organization Data</h5>

            <div class="smart_table">
                <smart-table [data]="table.data" [settings]="table.settings"></smart-table>
            </div>
        </div>
    </div>
</div>

<ng-template #editcontent let-modal>
	<div class="modal-header">
        <h5 class="modal-title">Edit</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Cross click')"></button>
    </div>
    <form>
    <div class="modal-body">  
        <div class="row">
            <div class="col-md-6">
                <div class="form_group">
                    <label>Name</label>
                    <input type="text" class="field" value="Rahul Goyal">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Type</label>
                    <select class="field">
                        <option>Corporate Account</option>
                        <option>Channel Partner</option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>GST Number</label>
                    <input type="text" class="field" value="18NEBCU9703R1ZM">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form_group">
                    <label>Users</label>
                    <input type="text" class="field" value="12">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal_buttons">
            <button type="button" class="btn_cancel" (click)="modal.close('btn click')">Cancel</button>
            <button type="button" class="btn_submit" (click)="modal.close('btn click')">Save</button>
        </div>
    </div>
    </form>
</ng-template>