@import "../../variable.scss";

.quickaccess_sec{
    .box_row{
        margin-top: 15px;
        .access_box{
            background-color: white;
            padding: 15px;
            padding-right: 5px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            margin: 0px 20px;
            &:first-child{
                margin-left: 0;
            }
            .icon_img{
                background: #f1f7ff;
                display: inline-block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                img{
                    width: 18px;
                }
            }
            .icon_name{
                font-weight: 600;
                font-size: 18px;
                color: $titleFontColor;
                width: 70%;
                text-align: center;
            }
        }
    }
}

.report_sec{
    margin-top: 30px;
    .box_row{
        margin-top: 15px;
        .access_box{
            background-color: white;
            padding: 15px;
            padding-right: 5px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            .icon_img{
                background: #f1f7ff;
                display: inline-block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                img{
                    width: 18px;
                }
            }
            .icon_name{
                margin-left: 5px;
                .item{
                    font-size: 11px;
                    color: $fontColor;
                }
                .value{
                    font-weight: 600;
                    font-size: 18px;
                    color: $titleFontColor;
                }
            }
        }
    }
}

.linechart_sec{
    margin-top: 30px;
    background: white;
    padding: 15px;
    border-radius: 15px;
    .left_detail{
        .data_cons{
            background: #f1f7ff;
            padding: 3px 5px;
            border-radius: 5px;
            .date_class{
                width: 20px;
                border: none;
                padding: 0;
                height: unset;
                background: unset;
                vertical-align: middle;
                &:focus{
                    outline: none;
                }
            }
            input[type="date"]::-webkit-calendar-picker-indicator {
                cursor: pointer;
                filter: brightness(0) saturate(100%) invert(82%) sepia(4%) saturate(2181%) hue-rotate(191deg) brightness(86%) contrast(87%);
            }
            span{
                font-size: 11px;
                color: $fontColor;
                vertical-align: middle;
                margin-left: 3px;
            }
        }
        .calculate_data{
            color: $titleFontColor;
            margin-top: 20px;
        }
        .calculate_data_text{
            font-size: 11px;
            color: $fontColor;
        }
        .icon_text{
            margin-top: 10px;
            img{
                width: 14px;
            }
            span{
                color: #05cd99;
                font-size: 13px;
                font-weight: 600;
                vertical-align: middle;
                margin-left: 5px;
            }
        }
    }

    .right_graph{
        .icon_sec{
            text-align: right;
            img{
                width: 14px;
            }
        }
        .line_graph{
            #divChart{                
                display: block;
                margin-top: 20px;
                #myLineChart{
                    height: 200px;
                }
            }
        }
    }
}

.twocol_sec{
    margin-top: 30px;
    .ordersummary_sec{
        background: white;
        padding: 15px;
        border-radius: 15px;
        .title_row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .next_img{
                width: 20px;
            }
        }
        .ordersummary_tbl{
            margin-top: 30px;
            height: 190px;
            overflow: auto;
            table{
                tbody{
                    tr{
                        td{
                            img{
                                width: 16px;
                                vertical-align: sub;
                            }
                        }
                    }
                }
            }
        }
    }

    .esimstatus_sec{
        background: white;
        padding: 15px;
        border-radius: 15px;
        height: 100%;
        .pie_graph{
            #divChart{                
                display: block;
                margin-top: 20px;
                #myPieChart{
                    height: 200px;
                }
            }
        }
    }
}

.update_sec{
    background: white;
    padding: 15px;
    padding-bottom: 0;
    border-radius: 15px;
    margin-top: 40px;
    .subtitle{
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 10px;
        color: $fontColor;
    }
    .update_card_sec{
        max-height: calc(100vh - 285px);
        overflow: auto;
        .update_card{
            display: flex;
            align-items: center;
            box-shadow: 0px 2px 10px #e0e0e0;
            margin-bottom: 15px;
            padding: 20px;
            border-radius: 15px;
            .icon_img{
                width: 15%;
                img{
                    width: 30px;
                }
            }
            .icon_name{
                width: 75%;
                font-size: 12px;
                color: $titleFontColor;
                font-weight: 600;
            }
            .next_img{
                width: 10%;
                text-align: right;
                img{
                    width: 20px;
                }
            }
        }
    }
}