<div class="page_block">
    <app-breadcrumb [breadcrumb]="'Pages / Dashboard'" [pageTitle]="'Dashboard'"></app-breadcrumb>

    <div class="body_sec">
        <div class="row">
            <div class="col-md-8">
                <div class="quickaccess_sec">
                    <h5 class="sec_title">Quick Access</h5>
                    <div class="row box_row">
                        <div class="col-md-4">
                            <div class="access_box">
                                <div class="icon_img"><img src="../../assets/images/search.svg"></div>
                                <div class="icon_name">Sim Search</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="access_box">
                                <div class="icon_img"><img src="../../assets/images/kyc.svg"></div>
                                <div class="icon_name">KYC</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="access_box">
                                <div class="icon_img"><img src="../../assets/images/whitelist.svg"></div>
                                <div class="icon_name">WhiteListing</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="report_sec">
                    <h5 class="sec_title">Report</h5>
                    <div class="row box_row">
                        <div class="col-md-3">
                            <div class="access_box">
                                <div class="icon_img"><img src="../../assets/images/reports_selected.svg"></div>
                                <div class="icon_name">
                                    <div class="item">Total eSIM</div>
                                    <div class="value">8000</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="access_box">
                                <div class="icon_img"><img src="../../assets/images/setting.svg"></div>
                                <div class="icon_name">
                                    <div class="item">Operational eSIM</div>
                                    <div class="value">7500</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="access_box">
                                <div class="icon_img"><img src="../../assets/images/esim.svg"></div>
                                <div class="icon_name">
                                    <div class="item">eSIM withBootstrap Plan</div>
                                    <div class="value">7500</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="access_box">
                                <div class="icon_img"><img src="../../assets/images/warning.svg"></div>
                                <div class="icon_name">
                                    <div class="item">Support Request</div>
                                    <div class="value">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="linechart_sec">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="left_detail">
                                <div class="data_cons">
                                    <input type="date" class="date_class"> <span>Data Consumption</span>
                                </div>
                                <h3 class="calculate_data">120MB</h3>
                                <div class="calculate_data_text">Average Spent</div>
                                <div class="icon_text">
                                    <img src="../../assets/images/approved_status.svg"> <span>On track</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="right_graph">
                                <div class="icon_sec">
                                    <img src="../../assets/images/reports_selected.svg">
                                </div>
                                <div class="line_graph">
                                    <div id="divChart"> <canvas id="myLineChart"></canvas> </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="twocol_sec">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ordersummary_sec">
                                <div class="title_row">
                                    <h5 class="sec_title">Order Summary</h5>
                                    <img class="next_img" src="../../assets/images/next.svg">
                                </div>

                                <div class="ordersummary_tbl">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Order No.</th>
                                                <th>STATUS</th>
                                                <th>DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>A/B 250MB 2 Yr</td>
                                                <td><img src="../../assets/images/approved_status.svg"> Complete</td>
                                                <td>18 Apr 2021</td>
                                            </tr>
                                            <tr>
                                                <td>V/B 125MB 1 Yr</td>
                                                <td><img src="../../assets/images/cancel_status.svg"> Cancelled</td>
                                                <td>18 Apr 2021</td>
                                            </tr>
                                            <tr>
                                                <td>12-xyz</td>
                                                <td><img src="../../assets/images/pending_status.svg"> Payment Pending</td>
                                                <td>20 May 2021</td>
                                            </tr>
                                            <tr>
                                                <td>120-313</td>
                                                <td><img src="../../assets/images/approved_status.svg"> Complete</td>
                                                <td>12 Jul 2021</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="esimstatus_sec">
                                <h5 class="sec_title">eSIM Status</h5>
                                <div class="pie_graph">
                                    <div id="divChart"> <canvas id="myPieChart"></canvas> </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="update_sec">
                    <h5 class="sec_title">Updates</h5>
                    <p class="subtitle">Here you Can find all the important updates regarding your eSIMS</p>

                    <div class="update_card_sec">
                        <div class="update_card">
                            <div class="icon_img"><img src="../../assets/images/info_update.svg"></div>
                            <div class="icon_name">10 eSIM renewal is coming in 20 days</div>
                            <div class="next_img"><img src="../../assets/images/next.svg"></div>
                        </div>

                        <div class="update_card">
                            <div class="icon_img"><img src="../../assets/images/green_tick.svg"></div>
                            <div class="icon_name">Whitelisting Completed</div>
                            <div class="next_img"><img src="../../assets/images/next.svg"></div>
                        </div>

                        <div class="update_card">
                            <div class="icon_img"><img src="../../assets/images/system_update.svg"></div>
                            <div class="icon_name">10 eSIM renewal in coming in 20 days</div>
                            <div class="next_img"><img src="../../assets/images/next.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
