
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "variable.scss";


body{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p, span, a{
    margin: 0;
    padding: 0;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #dae0ff; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c5cfff; 
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f8f8f8; 
}

// common component block css start here
.page_block{
    .head_sec{
        margin-top: -70px;
        margin-bottom: 19px;
        padding: 0px 15px;
        .breadcrumb{
            margin-bottom: 0;
            small{
                color: $fontColor;
                font-size: 12px;
                font-weight: 600;
            }
        }
        .page_title{
            h3{
                color: $titleFontColor;
            }
        }
    }

    .body_sec{   
        height: calc(100vh - 92px);
        overflow: auto;
        padding: 0px 15px 15px;
        .page_sec{
            background: white;
            padding: 15px;
            border-radius: 15px;
            height: 100%;
        }
    }
}

.sec_title{
    color: $titleFontColor;
}

// common component block css end here

// table css start here
    table{
        width: 100%;
        thead{
            border-bottom: 1px solid $borderColor;
            tr{
                th{
                    font-size: 11px;
                    color: $fontColor;
                    font-weight: 600;
                    padding: 10px 5px;
                }
            }
        }
        tbody{
            tr{
                td{
                    font-size: 12px;
                    color: $titleFontColor;
                    font-weight: 600;
                    padding: 10px 5px;
                }
            }
        }
    }
// table css end here

// form css start here
form{
    .form_group{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        label{
            width: 30%;
            color: $titleFontColor;
            font-weight: 500;
            font-size: 13px;
            &.required::after{
                content: '*';
                color: #ec0000;
                font-size: 20px;
            }
        }
        .field{
            width: 70%;
            padding: 5px 10px;
            font-size: 13px;
            border: 1px solid $borderForm;
            background: $backgroundForm;
            color: $fontColor;
            border-radius: 15px;
            box-shadow: 2px 2px 6px $boxShadowForm;

            &:focus-visible{
                outline: 1px solid $outlineForm;
            }
        }
        input::placeholder {
            color: $fontColor;
        }
        textarea::placeholder {
            color: $fontColor;
        }
        .checkbox_field{
            width: 30%;
            padding-left: 5px;
            font-size: 13px;
            font-weight: 500;
            color: $fontColor;
        }
    }

    .form_button{
        text-align: center;
        margin-top: 25px;
        .btn_submit{
            background-color: #3914d7;
            color: white;
            width: 200px;
            padding: 7px;
            border: none;
            border-radius: 20px;
        }
    }
}
// form css end here

.form-control{
    border: 1px solid #bfc6eb;
    &:focus{
        box-shadow: none;
        border: 1px solid #aeb4d8;
    }
}

button{
    &.btn{
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        transition: .5s all;
        margin: 0px 3px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
        &.btn-primary{
            background-color: $btnPrimary;
            &:hover{
                background-color: darken($btnPrimary, 20%);
            }
        }
    }
}

// Modal css start here
.modal-header{
    background-image: linear-gradient(45deg, #f6d6ec 0%, #fae8f4 10%, #dce7fe 35%, white 100%);
    padding: 5px 10px;
    .modal-title{
        color: $titleFontColor;
    }
    .btn-close{
        font-size: 14px;
        padding: 0px;
        margin: 0;
        &:focus{
            box-shadow: none;
        }
        &:hover{
            opacity: .7;
        }
    }
}

.modal-body{
    padding: 25px;
}

.modal-footer{
    .modal_buttons{
        margin: 0;
        button{
            width: unset;
            min-width: 100px;
            margin-left: auto;
            border-radius: 50px;
            padding: 5px 5px;
            border: none;
            color: $titleFontColor;
            transition: 0.5s all;
            font-size: 14px;
            font-weight: 600;
            margin-left: 10px;
            border: 1px solid $titleFontColor;
            &.btn_cancel{
                background: #f6d6ec;
            }
            &.btn_submit{
                background: #dce7fe;
            }
            &:hover{
                opacity: .7;
            }
        }
    }
}
// Modal css end here