// Common css
$fontColor: #8893b5;
$backgroundColor: #dae0ff;
$borderColor: #dde2fc;
$titleFontColor: #2b3674;


// Sidebar css
$sideBarLightColor: #a3aed0;
$sidebarDarkColor: #2b3674;


// Button css
$btnPrimary: #451aff;
$btnSuccess: #008000;
$btnDanger: #ff0000;
$btnSecondary: #4f4f4f;

// Form css
$borderForm: #edf4fe;
$backgroundForm: #edf4fe;
$boxShadowForm: #d7d7d7;
$outlineForm: #d4ddea;
